<li data-nav="Default" class="ml-2 nav-item cart-header" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link py-0" routerLink="/shopping-cart">
        <div class="d-flex flex-column align-items-center">
            <small><strong>My Basket</strong></small>
            <small>Total: {{entity.total_value | currency}}</small>
        </div>    
        
    </a>
</li>