<ul class="list-group shadow mt-1">
    <!-- list group item-->
    <li class="list-group-item" *ngFor="let deal of entity.deals_applied; let i = index">
        <div class="">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h6 class="mt-0 font-weight-bold mb-1 text-secondary">Deal {{i+1}} - {{deal.title}}</h6>
                    <p class="text-secondary mb-0"><small>{{deal.description}}</small></p>
                </div>
                <div style="display: inline-flex;">
                    <h6 class="my-2 text-secondary mr-3"><small class="text-muted mr-3">{{deal.quantity}}</small> 
                        Total: <span [ngClass]="{ 'text-danger': deal.total_discount > 0}"> {{ (deal.total_discount > 0 ? deal.total_discount : deal.total_value) | currency }} </span>
                    </h6>
                </div>
            </div>
        </div>
    </li>
    <!-- End -->
</ul>

<div class="card mt-2 shadow">
    <div class="card-body">
        <h6 class="card-title">Totals</h6>

        <div class="d-flex flex-row align-items-center">
            <div class="w-25">
               
            </div>
            <div class="w-75">
                <div class="d-flex flex-row-reverse">
                    <div class="p-2 w-25 text-right">
                        <h6 class="card-subtitle">{{entity.subtotal_value | currency}}</h6>
                    </div>
                    <div class="p-2 w-75 text-right">
                        <h6 class="card-subtitle text-muted">Subtotal:</h6>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="p-2 w-25 text-right">
                        <h6 class="card-subtitle text-danger">- {{entity.total_discounts | currency}}</h6>
                    </div>
                    <div class="p-2 w-75 text-right">
                        <h6 class="card-subtitle text-muted">Discounts Deals:</h6>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="p-2 w-25 text-right">
                        <h6 class="card-subtitle text-primary border-top border-secondary">
                            {{entity.total_value | currency}}
                        </h6>
                    </div>
                    <div class="p-2 w-75 text-right">
                        <h6 class="card-subtitle text-muted">Total:</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <button type="button" (click)="onRemoveBasket()" class="btn btn-sm btn-outline-danger">Clean Basket</button>
            <button routerLink="/" class="btn btn-sm btn-outline-secondary">Continue Shopping</button>
        </div>
    </div>
</div>