<h4 class="text-muted">Shopping Cart</h4>
<ul class="list-group shadow" *ngIf="shoppingCartSource">
    <!-- list group item-->
    <li class="list-group-item" *ngFor="let prod of shoppingCartSource; let i = index">
        <!-- Custom content-->
        <app-cart-item [entity]="prod" [index]="i"></app-cart-item>
        <!-- End -->
    </li>
    <!-- End -->
</ul>
<div class="alert alert-info shadow" role="alert" *ngIf="!shoppingCartSource && !busy">
    Basket Empty
</div>

<app-cart-summary></app-cart-summary>

