<div class="">
    <h5 class="mt-0 font-weight-bold mb-2 text-primary">{{entity.name}}</h5>
    <p class="font-italic text-muted mb-0 small">Promotion: {{entity.deal_info}}</p>
    <div class="d-flex align-items-center justify-content-between mt-1">
        <h6 class="font-weight-bold my-2">{{entity.price | currency}}</h6>
        <form (ngSubmit)="onSubmit()" [formGroup]="mainForm" style="display: inline-flex;">
            <input style="max-width: 60px;" type="number" class="form-control form-control-sm mr-2" min="1"
                placeholder="Qty" name="qty" formControlName="qty">
            <button type="submit" class="btn btn-sm btn-success" [disabled]="!mainForm.valid">Add to Basket</button>
        </form>
    </div>
</div>