<h4 class="text-muted">Product List</h4>
<ul class="list-group shadow" *ngIf="productSource">
    <!-- list group item-->
    <li class="list-group-item" *ngFor="let prod of productSource; let i = index">
        <!-- Custom content-->
        <app-product-item [entity]="prod" [index]="i"></app-product-item>
        <!-- End -->
    </li>
    <!-- End -->
</ul>