<div class="">
    <div class="d-flex align-items-center justify-content-between">
        <h5 class="mt-0 font-weight-bold mb-2 text-primary">{{entity.name}}</h5>
        <div style="display: inline-flex;">
            <h6 class="font-weight-bold my-2 mr-3"><small class="text-muted mr-3">{{entity.quantity}} x {{entity.price | currency}}</small> Total: {{entity.quantity * entity.price | currency}}</h6>
            <button type="button" (click)="onSubmit()" class="btn btn-sm btn-danger">Remove Item</button>
        </div>
    </div>
</div>