<ngx-loading-bar [color]="'rgba(123,255,0,0.3)'" [height]="'55px'"></ngx-loading-bar>
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" routerLink="/">Lana Checkout App</a>
  <ul class="navbar-nav ml-auto">
    <app-cart-header></app-cart-header>
  </ul>
</nav>

<main role="main" class="container pt-5 mt-5">
  <router-outlet></router-outlet>
</main><!-- /.container -->